<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title> MAIN </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-text-center">
    <h1>Parent Componentdd</h1>
  </div>

  <app-child
    [master]="'parent data'"
    (sendChildData)="onChildData($event)"
  ></app-child>

  <div>
    <h4>자식한테서 전달받은 데이터 : {{ getChildSendData }}</h4>
  </div>

  <hr />

  <div class="ion-text-center">
    <ion-button (click)="moveRouter('list')">라우터 이동</ion-button>
    <ion-button (click)="moveDetailRouter()">파라미터 전달 라우터</ion-button>
  </div>

  <div class="ion-text-center">
    <ion-button (click)="moveRouter('voice-record')">Voice Recorder</ion-button>
  </div>

  <div class="ion-text-center">
    <!-- com.google.android.youtube -->
    <ion-button (click)="moveYotube()">app launch</ion-button>
  </div>
</ion-content>
